html {
	overflow: scroll;
	overflow-x: hidden;
}
html::-webkit-scrollbar {
	width: 0px;
}
/* Отключение видимости скроллбара */
body {
	font-family: "Arial";
	/* Тайловый фон с фиксированным положением */
	background: url(img/bg.jpg) repeat 0 0 fixed;
	/* Все что будет иметь прозрачность над ним будет накладывать размытие и сепию */
	backdrop-filter: blur(8px) sepia(80%);
}
/* Цвет, паддинг и центрирование текста для всех блоков внутри body */
body > * {
	background: #eee;
	padding: 1rem;
	text-align: center;
}

.menu{
	height: 44px;
}

.menu a{
	background-color: #f0f0f0;
	color: black;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	font-weight: Bold;
	display: inline-block;
	/* Двойная тень, одна длинная и мягкая, другая жесткая*/
	box-shadow: 0 1px 7px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu a.active{
	background-color: #4ecdc4;
	box-shadow: 0 1px 7px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24), inset 0 0 4px rgba(0,0,0,0.2);
	/* Дополнительная внутренняя тень для кнопки активной страницы*/
}
.menu a:hover{
	/* Увеличение тени при наведении курсора на кнопку */
	box-shadow: 0 5px 10px rgba(0,0,0,0.2), 0 3px 5px rgba(0,0,0,0.22);
}

#list{
	top: 50%;
	left: 50%;
	margin-top:100px;
	background: rgba(238,238,238,0.5);
	position: relative;
	transform: translate(-50%, -50%);
	width: 30%;
}
#list ul{
	margin-left: -15px;
}
#list li{
	margin-left: 6px;
	border-bottom: 1px solid #333;
	border-top: 1px solid #333;
}

#stats{
	background: rgba(238, 238, 238, 0.5);
}
#stats th, tr{
	background: rgba(238, 238, 238, 1);	
}
#stats th, td {
	border-bottom: 1px solid #ddd; 
}
#stats tr:hover:nth-child(even),tr:hover {
	background-color: #4ecdc4;
	border-bottom: 5px solid #eee;
	border-top: 5px solid #eee;
}
#stats tr:nth-child(even) {
	background-color: rgb(207, 207, 207); 
}

#tbl4js {
	position: relative;
	left: 50%;
	right: 50%;
	transform: translate(-50%, 0);
}

